<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="fa fa-home sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}"> Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="fa fa-list sidebar-nav-item{% if page.url contains node.tags | first %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}"> {{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
  </nav>

  <hr/>

  <nav class="sidebar-nav">
    {% assign pages_list = site.pages %}
    {% assign currentPathArray = page.url | split:"/" %}

    {% for node in pages_list %}
      {% assign pPathArray = node.url | split:"/" %}
      {% assign pFile = pPathArray | last %}
      {% if node.title != null and (currentPathArray[2] == pPathArray[2] and node.layout == "menu" %}
        <p style="text-align: center;">CURRENT SECTION</p>
        <a class="fa fa-list sidebar-nav-item{% if (currentPathArray[2] == pPathArray[2] %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}" title="{{ node.description }}"> {{ node.title }}</a>
      {% endif %}
    {% endfor %}

    {% for node in pages_list %}
      {% if node.title != null and node.tags != null and node.tags == page.tags and node.layout != "menu" and node.layout != "page" %}
          <a class="fa sidebar-nav-item{% if page.url == node.url %} fa-caret-right active{% else %} fa-angle-right {% endif %}" href="{{ site.baseurl }}{{ node.url }}" title="{{ node.description }}"> {{ node.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>
</div>
